#MainUl li ul li{display: none;}
#MainUl li:hover ul li{display: block;}
#MainUl li:hover ul li ul li{display: none;}
#MainUl li ul li:hover ul li{display: block;}
#MainUl li ul li:hover ul li ul li{display: none;}
#MainUl li ul li ul li:hover ul li{display: block;}