body{
    background-color: blanchedalmond;
}
div{
    width: 193px;
    height: 190px;
    transition: 5s;
    color: black;
    background-color: deepskyblue;
    font-size: 20px;
    font-weight: bold;
    padding-left: 7px;
    padding-top: 10px;
}
#TranslateDiv:hover{
    -webkit-transform:translate(100px,100px);
     -moz-transform:translate(100px,100px);
      -ms-transform:translate(100px,100px);
       -o-transform:translate(100px,100px);
        transform:translate(100px,100px);
       background-color:red;
       color:Yellow;
}
#RotateDiv:hover{
    -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
            -ms-transform:rotate(360deg);
             -o-transform:rotate(360deg);
                transform:rotate(360deg);
              background-color:antiquewhite;
              color:Yellow; 
}
#RotateDiv3D:hover{
	-webkit-transform:rotate3d(1,1,0,360deg);
        -moz-transform:rotate3d(1,1,0,360deg);
            -ms-transform:rotate3d(1,1,0,360deg);
                -o-transform:rotate3d(1,1,0,360deg);
                    transform:rotate3d(1,1,0,360deg);
                background-color:violet;
                color:Yellow; 
         
}
#SkewDiv:hover
{
    -webkit-transform:skew(45deg);
       -moz-transform:skew(45deg);
        -ms-transform:skew(45deg);
         -o-transform:skew(45deg);
            transform:skew(45deg);
          background-color:palegreen;
          color:Yellow; 
}
#ScaleDiv:hover
{
    -webkit-transform:scale(1.5,0.5);
       -moz-transform:scale(1.5,0.5);
        -ms-transform:scale(1.5,0.5);
         -o-transform:scale(1.5,0.5);
            transform:scale(1.5,0.5);
          background-color:orangered;
          color:Yellow; 
}
#OpacityDiv:hover
{
    opacity:0.7;
}
#RGBADiv:hover
{
    background:rgba(128,128,0,0.5);
}
#BoxShadowDiv:hover
{
    box-shadow:0px 0px 20px black;
}
#TextShadowDiv:hover
{
    text-shadow:3px 3px 3px red;
}
#BorderRadiusDiv:hover
{
    border-radius:50%;
}
